@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.main-color {
  background-color: #0aabd7;
}

.postSelect option {
  font-size: 1rem;
}

.postSelect:hover {
  cursor: pointer;
}

.postSelect:focus-visible {
  outline: none;
}
